 h1 
 {
 	color: black;
    text-align: center;
    font-size: 32px;
}

h2 
{
	font-weight: bold;
	color: blue;
	font-size: 24px;
	text-align: center;
}

p 
{
	background-color: green;
    color:white;
    text-align:center;
}

button
{
	border: 1px solid;
    height:25px;
    width:125px;
    background-color: gray;
}

.my_container {
    background-color: skyblue; 
}

